@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color:#100f3d;
    --seconday-color:#1f7a8c;
    --terciary-color:#bfdbf7;
    --cuaternary-color:#e1e5f2;
    --white-color:#fff;
}

body{
    overflow-x: hidden;
}